<!DOCTYPE html>
<% include partials/header %>
  <body>
    <div>
      <h1 id="header">Welcome to MedTrack</h1>
      <a href="/register" class="btn btn-danger">Register</a>
      <a href="/login" class="btn btn-danger">Login</a>
    </div>
<% include partials/footer %>
